h1{
    text-shadow: 3px 3px 3px yellow;
    text-shadow: 3px 3px 3px yellow, 5px 5px 5px green;
}
.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: -10px -10px 15px rgb(122, 41, 119), 15px 15px 15px brown;
    color:black;
    padding: 50px;
    text-align: center;
    text-size-adjust: 50px;
}